* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-carousel {
    max-width: 1200px;
    width: 95%;
    overflow-x: visible;
}
.slider-carousel .image-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(45, 1fr);
}
.slider-carousel .image-list .carousel-item {
    width: 400px;
    height: 325px;
    object-fit: cover;
}